/* Languages list */

#hljs_options #syntaxes ins {
  font-weight: bold;
  text-decoration: none;
}
#hljs_options #syntaxes del {
  opacity: .6;
}
/* Code sample */

.hljs-wrapper {
  border: 1px solid;
}
