/* Languages list */

#hljs_options #syntaxes ins {
  font-weight: bold;
  text-decoration: none;
}

#hljs_options #syntaxes del {
  opacity: 0.6;
}

/* Code sample */

.hljs {
  font-size: 1.625ex !important;
  position: relative;
}
.hljs-copy-button {
  line-height: 2 !important;
  border-radius: 0;
}
.hljs[data-language]::before {
  font-size: 1.625ex !important;
  line-height: 1.5;
}
