.hljs-wrapper {
  padding: 0;
}

.hljs {
  padding: 0 0.5em;
  white-space: pre;
  word-wrap: normal !important;
  font-size: 1.75ex;
}

/* Syntax badge */

.hljs-wrapper {
  position: relative;
}

.hljs[data-language]::before {
  content: attr(data-language);
  position: absolute;
  right: 0;
  top: 0;
  font-size: smaller;
  padding: 0.1em 0.6em 0.1em 0.6em;
  color: #fff;
  background-color: #d54e21;
}

.hljs-copy-button {
  content: 'copy';
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: smaller;
  line-height: 2;
  margin: 0;
  border: 0;
  padding: 0.1em 0.6em 0.1em 0.6em;
  color: white;
  background-color: blueviolet;
}
.hljs-copy-button:hover,
.hljs-copy-button:active,
.hljs-copy-button:focus {
  color: blueviolet;
  background-color: white;
}

/* No line numbers */

.hljs-no-gutter {
  padding: 0.5em;
}

/* Line numbers */

.hljs-line-number {
  display: block;
  float: left;
  margin: 0 1em 0 -1em;
  border-right: 1px solid;
  text-align: right;
  opacity: 0.6;
}

.hljs-line-number span {
  display: block;
  padding: 0 0.5em 0 1em;
}

.hljs-cl {
  display: block;
  clear: both;
}
